$brand-color: #0088CC;
$white: #fff;
$grey: #999;
$black: #000;
$blue-lighten: #f2f6fa;
$grey-darken-1: #b3b3b3;
$grey-darken-2: #bfbfbf;
$black-lighten: #222;


$form-shadow: 0 1px 1px rgba(97, 127, 152, 0.2),
1px 0 0 rgba(97, 127, 152, 0.1), -1px 0 0 rgba(97, 127, 152, 0.1);
